.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
  }
  
  .header1 {
    width: 100%;
    height: 48px;
    background-color: rgb(236, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .first-a {
    color: rgb(35, 31, 32);
    font-family: BasisGrotesque, Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
  
  .first-a:hover {
    color: rgb(169, 168, 168);
  }
  
  
  
  .header2 {
    width: 100%;
    height: 64px;
    background-color: #fff;
    font-family: BasisGrotesque, Avenir, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  
  
  }
  
  .information {
    height: 63px;
    width: 250px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  
  
  }
  
  .host {
    padding: 5px 12px;
    background-color: #FFFFFF;
    border: 1px solid #414143;
    color: #414143;
    height: 27px;
    margin: 0 30px;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
  
  
  }
  
  .host:hover {
    color: rgb(169, 168, 168);
    background-color: rgb(236, 235, 235);
  }
  
  .menu {
    height: 40px;
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu:hover {
    background-color: rgb(236, 235, 235);
    border-radius: 7px;
  }
  
  .home-image-div {
    background-image: url('https://resources.turo.com/f/81934/1200x400/b057f9d3ae/hp_ny_1200x400_2.jpg');
    background-repeat: no-repeat;
    background-size: 100vw, 100vh;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
    padding: 15px;
  
  }
  
  .search-item {
    margin: auto;
    padding-left: 18px;
    height: 56px;
    width: 940px;
    background-color: white;
    border-radius: 100px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
    display: flex;
    align-items: center;
    

  
  }
  
  .search1 {
    
    width: 334px;
    height: 40px;
    box-sizing: border-box;
  }
  
  /* search1 child*/
  .where {
    width: 334px;
    height: 16px;
    margin: 0;
    color: #121214;
    margin-bottom: 0;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: none;
  }
  .input1{
    border: none;
    height: 22px;
    width: 310px;
    font-size: 17px;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  
  
  .search2 {
    border-left: 1px solid black;
    width: 535px;
    height: 40px;
    display: flex;
  
  }
  /*search 2 child*/
  .form{
 
    width: 265px;
    height: 40px;
    display: inline-block;
    
  }
  .from-heading{
    width: 250px;
    height: 16px;
   
    margin: 0;
    color: #121214;
    margin-bottom: 0;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: none;
    margin-left: 18px;
  }

  .date_time{
    display: flex;

  }
  
  
  
  .until{
    border-left: 1px solid black;
    width: 265px;
    height: 40px;
    display: inline-block;
  }
  
  .search3 {
    width: 40px;
    height: 40px;
    
  
  }

  .search_button{
    height: 40px;
    width: 40px;
    background: #593CFB;
    border-radius: 40px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .search3-p{
    display: none;
  }


  .first-hea{
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 90px;
    text-transform: none;
    margin-top: 20px;
    color: #121214;
    text-align: center;
    box-sizing: border-box;

  }
  .seacond{
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    width: 100vw;
   
  }
  .seacond-hea{
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 900;
    background-color:  #F2E9FF;
   
}
  
  
  
  
  @media screen and (max-width: 990px) {
    .home-image-div {
      background-image: url('https://resources.turo.com/f/81934/768x400/19ba3b6826/hp_ny_768x400_2.jpg');
  
    }
    .search-item{
      width: 750px;
    }
    .search1{
      width: 245px;
    }
    .input1{
      width: 230px;
    }
    .search2 {
     
      width: 437px;
      height: 40px;
      display: flex;
    
    }
    .form{
 
      width: 215px;
      height: 40px;
      display: inline-block;
      
    }
    .from-heading{
      width: 215px;
      height: 16px;
      margin-left: 5px;

  }
  .until{
    border-left: 1px solid black;
    width: 215px;
    height: 40px;
    display: inline-block;
  }
  .first-hea{
    margin-bottom: 16px;
    margin-top: 32px;
  }
}
  @media screen and (max-width: 766px) {
    .first-a {
      font-size: 12px;
      text-align: center;
    }
  
    .host {
      display: none;
    }
  
    .information {
      width: 70px;
  
    }
  
    .turoimage {
      height: 40px;
      width: 80px;
      margin-top: 5px;
    }
  
    .home-image-div {
      background-image: url('https://resources.turo.com/f/81934/480x422/6bef080322/hp_ny_480x422_2.jpg');
    
    }
    .search-item {
      height: 232px;
    width: 460px;
    padding-left: 8px;
    border-radius: 8px;
      flex-direction: column;
      align-items: flex-start;
    }
    .search1 {
    
      width: 444px;
      height: 55px;
      box-sizing: border-box;
      padding: 7px 0px;
      border-bottom: 1px solid #C7C7C7;
     
    }
    
    /* search1 child*/
    .where {
      width: 444px;
      height: 16px;
      margin: 0;
      color: #121214;
      margin-bottom: 0;
      font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 16px;
      text-transform: none;
    }
    .input1{
      border: none;
      height: 24px;
      width: 430px;
      font-size: 17px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .search2 {
      width: 444px;
      height: 55px;
      border-bottom: 1px solid #C7C7C7;
      border: none;
      display: flex;
      flex-direction: column;

    
    }
    /*search 2 child*/
    .form{
   
      width: 444px;
      height: 55px;
      display: inline-block;
      border-bottom: 1px solid #C7C7C7;
      padding: 7px 0px;
      
    }
    .from-heading{
      width: 444px;
      height: 16px;
     
      margin: 0;
      color: #121214;
      margin-bottom: 0;
      font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 16px;
      text-transform: none;
      margin-left: 5px;
    }
  
    .date_time{
      display: flex;
  
    }
    
    
    
    .until{
      border: none;
      border-bottom: 1px solid #C7C7C7;
      width: 444px;
      height: 55px;
      display: inline-block;
      padding: 7px 0px;
    }
    
    .search3 {
      width: 444px;
      height: 45px;
      margin-top: 65px;
      background: #593CFB;
      color: white;
      cursor: pointer;
      text-align: center;
      font-weight: bold;
      box-sizing: border-box;
      font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
      font-size: 16px;
      display: flex;
     align-items: center;
     justify-content: center;
    }
    .search3-p{
      display: block;
    }
  
    .search_button{
    
      display: none;
    }
    .first-hea{
    
    margin-top: 24px;
    text-align: center;
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -0.2px;
    line-height: 44px;
    text-transform: none;
    }
    .seacond-hea{
      font-size: 15px;
    }
  }

  @media screen and (max-width: 478px) {
    .search-item {
      height: 232px;
    width: 430px;
   
    }
    .search1 {
    
      width: 410px;
     
     
    }
    
    /* search1 child*/
    .where {
      width: 410px;
     
    }
    .input1{
      border: none;
      height: 24px;
      width: 390px;
      font-size: 17px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .search2 {
      width: 410px;
     
    }
    /*search 2 child*/
    .form{
   
      width: 410px;
     
    }
    .from-heading{
      width: 410px;
     
    }
  
    .date_time{
      display: flex;
  
    }
    
    .until{
      border: none;
      border-bottom: 1px solid #C7C7C7;
      width: 410px;
      
    }
    
    .search3 {
      width: 410px;
     
    }
    .first-hea{
      margin-top: 15px;
    }
   
  }
  @media screen and (max-width: 448px) {
    .search-item {
      height: 232px;
    width: 400px;
   
    }
    .search1 {
    
      width: 380px;
     
     
    }
    
    /* search1 child*/
    .where {
      width: 380px;
     
    }
    .input1{
      border: none;
      height: 24px;
      width: 370px;
      font-size: 17px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .search2 {
      width: 380px;
     
    }
    /*search 2 child*/
    .form{
   
      width: 380px;
     
    }
    .from-heading{
      width: 380px;
     
    }
  
    .date_time{
      display: flex;
  
    }
    
    .until{
      border: none;
      border-bottom: 1px solid #C7C7C7;
      width: 380px;
      
    }
    
    .search3 {
      width: 380px;
     
    }
    .first-hea{
      margin-top: 0px;
    }
   
  }
  
  @media screen and (max-width: 418px) {
    .search-item {
      height: 232px;
    width: 370px;
   
    }
    .search1 {
    
      width: 350px;
     
     
    }
    
    /* search1 child*/
    .where {
      width: 350px;
     
    }
    .input1{
      border: none;
      height: 24px;
      width: 340px;
      font-size: 17px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .search2 {
      width: 350px;
     
    }
    /*search 2 child*/
    .form{
   
      width: 350px;
     
    }
    .from-heading{
      width: 350px;
     
    }
  
    .date_time{
      display: flex;
  
    }
    
    .until{
      border: none;
      border-bottom: 1px solid #C7C7C7;
      width: 350px;
      
    }
    
    .search3 {
      width: 350px;
     
    }
    .first-hea{
      margin-top: -15px;
    }
  }
  @media screen and (max-width: 390px) {
    .search-item {
      height: 232px;
    width: 350px;
   
    }
    .search1 {
    
      width: 330px;
     
     
    }
    
    /* search1 child*/
    .where {
      width: 330px;
     
    }
    .input1{
      border: none;
      height: 24px;
      width: 320px;
      font-size: 17px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .search2 {
      width: 330px;
     
    }
    /*search 2 child*/
    .form{
   
      width: 330px;
     
    }
    .from-heading{
      width: 330px;
     
    }
  
    .date_time{
      display: flex;
  
    }
    
    .until{
      border: none;
      border-bottom: 1px solid #C7C7C7;
      width: 330px;
      
    }
    
    .search3 {
      width: 330px;
     
    }
    .first-hea{
      margin-top: -45px;
    }
  }
  
  @media screen and (max-width: 366px) {
    .search-item {
      height: 232px;
    width: 330px;
   
    }
    .search1 {
    
      width: 310px;
     
     
    }
    
    /* search1 child*/
    .where {
      width: 310px;
     
    }
    .input1{
      border: none;
      height: 24px;
      width: 300px;
      font-size: 17px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .search2 {
      width: 310px;
     
    }
    /*search 2 child*/
    .form{
   
      width: 310px;
     
    }
    .from-heading{
      width: 310px;
     
    }
  
    .date_time{
      display: flex;
  
    }
    
    .until{
      border: none;
      border-bottom: 1px solid #C7C7C7;
      width: 310px;
      
    }
    
    .search3 {
      width: 310px;
     
    }
    .first-hea{
      margin-top: -55px;
    }
  }
  @media screen and (max-width: 346px) {
    .search-item {
      height: 232px;
    width: 300px;
   
    }
    .search1 {
    
      width: 290px;
     
     
    }
    
    /* search1 child*/
    .where {
      width: 290px;
     
    }
    .input1{
      border: none;
      height: 24px;
      width: 280px;
      font-size: 17px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .search2 {
      width: 290px;
     
    }
    /*search 2 child*/
    .form{
   
      width: 290px;
     
    }
    .from-heading{
      width: 290px;
     
    }
  
    .date_time{
      display: flex;
  
    }
    
    .until{
      border: none;
      border-bottom: 1px solid #C7C7C7;
      width: 290px;
      
    }
    
    .search3 {
      width: 280px;
     
    }
    .first-hea{
      margin-top: -90px;
    }
  }
  